﻿<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
		.row {
			margin-top: 1rem;
		}
	</style>
	<title>
		Webtrack Stats Collection - @ViewData["Title"]
	</title>
</head>
<body>
	<div class="navbar navbar-fixed-top bg-primary">
		<div class="container">
			<div class="navbar-header">
				<h2 class="text-white">
					Webtrack Stats Collection - @ViewData["Title"]
				</h2>
			</div>
			<div class="navbar">
				<ul class="nav navbar-nav">
					<li class="nav-item">@Html.ActionLink("Overview", "Index", "Default", new { area = "" }, new { @class = "text-white" })</li>
					<li class="nav-item">@Html.ActionLink("Functions", "Index", "Functions", new { area = "" }, new { @class = "text-white" })</li>
					<li class="nav-item">@Html.ActionLink("Reports", "Index", "Reports", new { area = "" }, new { @class = "text-white" })</li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="./assets/js/newDom.js"></script>
	<script type="text/javascript" src="./assets/js/Helpers.js"></script>
	<div class="container body-content">
		@RenderBody()
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
