﻿@using WebtrackFeatures.Models.Functions
@model FunctionsData
@{
	ViewData["Title"] = "Functions";
}

<div class="container">
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Functions used on web-track
				</div>
				<div class="card-body">
					A list of functions used on webtrack, the lists are calculated from witch buttons have been used the last month.
					For general information go to the @Html.ActionLink("Overview", "Index", "Default", new { area = "" }, new { @class = "text-black" }) page and for witch reports is used goto the @Html.ActionLink("Reports", "Index", "Reports", new { area = "" }, new { @class = "text-black" }) page
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Online
					<button type="button" class="btn btn-info float-right btn-sm btn-functions" id="online-functions" style="margin-left:10px">Show functions</button>&nbsp;
					<button type="button" class="btn btn-info float-right btn-sm" id="online-download">Download as PNG</button>
				</div>
				<div class="card-body" height="800">
					<canvas id="online_heatmap"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					History
					<button type="button" class="btn btn-info float-right btn-sm btn-functions" id="history-functions" style="margin-left:10px">Show functions</button>&nbsp;
					<button type="button" class="btn btn-info float-right btn-sm" id="history-download">Download as PNG</button>
				</div>
				<div class="card-body" height="800">
					<canvas id="history_heatmap"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Reports
					<button type="button" class="btn btn-info float-right btn-sm btn-functions" id="reports-functions" style="margin-left:10px">Show functions</button>&nbsp;
					<button type="button" class="btn btn-info float-right btn-sm" id="reports-download">Download as PNG</button>
				</div>
				<div class="card-body" height="800">
					<canvas id="reports_heatmap"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Alerts
					<button type="button" class="btn btn-info float-right btn-sm btn-functions" id="alerts-functions" style="margin-left:10px">Show functions</button>&nbsp;
					<button type="button" class="btn btn-info float-right btn-sm" id="alerts-download">Download as PNG</button>
				</div>
				<div class="card-body" height="800">
					<canvas id="alerts_heatmap"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					POI
					<button type="button" class="btn btn-info float-right btn-sm btn-functions" id="poi-functions" style="margin-left:10px">Show functions</button>&nbsp;
					<button type="button" class="btn btn-info float-right btn-sm" id="poi-download">Download as PNG</button>
				</div>
				<div class="card-body" height="800">
					<canvas id="poi_heatmap"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Messages
					<button type="button" class="btn btn-info float-right btn-sm btn-functions" id="messages-functions" style="margin-left:10px">Show functions</button>&nbsp;
					<button type="button" class="btn btn-info float-right btn-sm" id="messages-download">Download as PNG</button>
				</div>
				<div class="card-body" height="800">
					<canvas id="messages_heatmap"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Tachodownload
					<button type="button" class="btn btn-info float-right btn-sm btn-functions" id="tachodownload-functions" style="margin-left:10px">Show functions</button>&nbsp;
					<button type="button" class="btn btn-info float-right btn-sm" id="tachodownload-download">Download as PNG</button>
				</div>
				<div class="card-body" height="800">
					<canvas id="tachodownload_heatmap"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="popContainer" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header ">
				<h5 class="modal-title">Functions <span is="popName">nopage</span></h5>
				<button type="button" class="close" data-dismiss="modal" id="popClose" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="max-height:600px; overflow:auto;">
				<a href="#" class="badge badge-pill badge-dark" id="popDownload">Download as XLS</a>
				<hr />
				<table id="popTable" class="table"></table>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	window["_model"] = @Html.Raw(Json.Serialize(@Model));
</script>
<script src="./Assets/js/heatmap.js" type="text/javascript"></script>
<script src="./pages/functions/Index.js" type="text/javascript"></script>
