﻿@using WebtrackFeatures.Models.Default
@using System.Collections.Generic;
@model DefaultViewModel
@{
	ViewData["Title"] = "Overview";
}


<div class="container">
	<div class="row">
		<div class="col-3 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Number of users (Total: @Model.UserCount.Total)
				</div>
				<div class="card-body">
					<canvas id="users-chart" width="200" height="200"></canvas>
				</div>
			</div>
		</div>
		<div class="col-3 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Number of Customers (Total: @Model.CustomerCount.Total)
				</div>
				<div class="card-body">
					<canvas id="customer-chart" width="200" height="200"></canvas>
				</div>
			</div>
		</div>
		<div class="col-3 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Number of devices (Total: @Model.DeviceCount.Total)
				</div>
				<div class="card-body">
					<canvas id="device-chart" width="200" height="200"></canvas>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-2 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Browsers
				</div>
				<div class="card-body">
					<canvas id="browser-chart" width="300" height="300"></canvas>
				</div>
			</div>

		</div>
		<div class="col-2 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Client Types
				</div>
				<div class="card-body">
					<canvas id="client-type-chart" width="300" height="300"></canvas>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					OS
				</div>
				<div class="card-body">
					<canvas id="os-chart" width="300" height="300"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-2 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Languages
				</div>
				<div class="card-body">
					<canvas id="language-chart" width="200" height="200"></canvas>
				</div>
			</div>
		</div>
		<div class="col-2 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Average load times <i>(Exprimentel)</i>
				</div>
				<div class="card-body">
					<canvas id="avgload-chart" width="200" height="200"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-2 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Visits latest 24 hours
				</div>
				<div class="card-body">
					<p class="card-text">There has been @Model.Visits visits within the last 24 hours</p>
				</div>
			</div>
		</div>
		<div class="col-2 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-header">
					Avrage loadtimes data points
				</div>
				<div class="card-body">
					<canvas id="avgload-datapoints-chart" width="200" height="200"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1 col-sm">
			<div class="card shadow-sm rounded">
				<div class="card-body">
					* Data is calculated and can there for only be used to show a estimate statistic over the clients and will not give 100% acurate numbers<br />
					** Data is fron now and a month back, eg. to day is the 15 of January then the data in the calculations will be from the 15 of December to the 15 of January
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		&nbsp;
	</div>
</div>

<script type="text/javascript">
	window["_model"] = @Html.Raw(Json.Serialize(@Model));
</script>

<script src="https://cdn.jsdelivr.net/npm/ua-parser-js@0/dist/ua-parser.min.js"></script>
<script src="./Assets/js/Chart.min.js" type="text/javascript"></script>
<script src="./pages/default/Index.js" type="text/javascript"></script>
